VITE_APPWRITE_ENDPOINT=https://sgpsfasdf.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=698589da00asdf0fab4963cc
VITE_APPWRITE_DATABASE_ID=6993608adsfadsf20027581db3da
VITE_APPWRITE_TODOS_TABLE_ID=todos-tafasdfbleasdf